{% extends 'base.html' %}
{% load static %}
{% block title %}{{ course.course_name }}{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="w-100 text-center text-danger h6 list-unstyled">
            {% for message in messages %}
                <li class="{{ message.tags }}"><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
        <div class="col-md-12 text-light bg-dark mt-4 py-4">
            <div class="col-md-8 ml-0 bg-info">
                <div class="col-md-8 mx-auto">
                    <h1 class="display-4"><strong>{{ course.course_name }}</strong></h1>
                    <h5 class="small">Level: {{ course.course_level }} <i class='far fa-dot-circle'></i> Length: {{ course.course_length }} minutes</h5>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-4 py-4">
            <div class="col-md-8 ml-0">
                <div class="col-md-10 float-right">
                    <div class="card border-0">
                        <div class="card-title"><h2>Description:</h2></div>
                        <div class="card-body">
                            <p class="card-text">{{ course.course_description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'addToCart' course.id %}" class="btn btn-success">Add to cart!</a>

{% if course.course_video %}
    <video width='320' height= '240' controls>
    <source src="{{ course.course_video.url }}" type="video/mp4">
    Your browser does not support the video tag.
    </video>
{% endif %}

{% endblock %}