{% extends 'base.html' %}
{% load static %}
{% block title %}Category{% endblock %}

{% block content %}
    <div class="row col-md-12 mx-auto py-4 bg-info">
        <h2 class="col-md-10 mx-auto display-4">Topic: {% if topic %} {{ topic }} {% else %} {{ coursesByCategory.first.course_category }} {% endif %}</h2>
    </div>

    <div class="row col-md-12 mx-auto py-4 bg-light">
        <h3 class="col-md-10 mx-auto">
            Courses in category {{ coursesByCategory.first.course_category }}: {{ coursesCount }}
        </h3>
    </div>
    {% if coursesByCategory %}
        {% for course in coursesByCategory %}
                <div class="card flex-row flex-wrap w-75 border-top-0 border-left-0 border-right-0 py-4 mx-auto cardDiv" onclick="location.href='{% url 'course' course.id %}';">
                    <div class="card-header bg-white border-0 col-md-2">
                        {% if course.course_photo %}
                            <img src="{{ course.course_photo.url }}" class="w-100 img-fluid" alt="No image providen.">
                        {% else %}
                            <img src="{% static 'Courser/images/default.png' %}" class="w-100 img-fluid" alt="No image providen.">
                        {% endif %}
                    </div>
                    <div class="card-block col-md-8">
                        <h4 class="card-title">{{ course.course_name }}</h4>
                        <h6 class="small">{{ course.course_length }} minutes of video
                            <i class='far fa-dot-circle'></i>
                            {{ course.course_level }}
                        </h6>
                        <p class="card-text">{{ course.course_description | truncatechars:340 }}</p>
                    </div>
                    <div class="card-block px-2 ml-auto col-md-2">
                        <h4 class="card-title text-right"><strong>{{ course.course_price }} zł</strong></h4>
                    </div>
                </div>
        {% endfor %}
    {% else %}
        <p>No courses in that category.</p>
    {% endif %}
{% endblock %}