{% extends 'base.html' %}

{% block title %}Edit profile{% endblock %}

{% block content %}
<div class="w-50 mx-auto">
  <div class="row mb-4">
    <h3 class="page-header mx-auto">
      Edit profile
    </h3>
  </div>
  <div class="container">
    <form method="post" enctype='multipart/form-data' id="editForm" class="form-horizontal">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
        <div class="row">
          <div class="col-sm-2 my-auto">
            {{ field.label_tag }}
            {{ field.errors }}
          </div>
          <div class="col-sm-10">
            {% if field.id_for_label == 'id_user_photo' %}
              <label class="btn btn-primary btn-file">
                Browse <input type="file" name="{{ field.name }}" accept="image/*" id="{{ field.id_for_label }}" style="display: none;">
              </label>
            {% else %}
              {{ field }}
            {% endif %}
          </div>
        </div>
        <br>
      {% endfor %}
    </form>
  </div>
  <div class="row float-right">
    <button type="submit" class="btn btn-success" form="editForm">Save profile</button>
  </div>
</div>
{% endblock %}