{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="container-fluid home-image py-4">
    <div class="w-75 mx-auto py-4">
        <div class="py-4">
            <h2 class="pt-5 display-3">Search courses and learn!</h2>
            <h4 class="py-2">100% online learning from the world’s best developers and teachers!</h4>
            <h3 class="py-2">You can learn whenever you want!</h3>
            <div class="row pt-2 pb-5 pl-3">
              {% if user.is_authenticated == False %}
                <a class="btn btn-primary btn-lg col-md-3" href="{% url 'signup' %}" role="button">Join for free!</a>
              {% else %}
                <a class="btn btn-primary btn-lg col-md-3" href="{% url 'profile' %}" role="button">Open profile</a>
              {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="mx-auto mt-4 mb-2 col-md-11"><h2 class="ml-2">Newest courses:</h2></div>
<hr class="col-md-11 mx-auto hr-styling">
<div class="card-deck mx-auto col-md-11">
    {% for course in lastCourses %}
    <div class="card mx-2 cardDiv" onclick="location.href='{% url 'course' course.id %}';">
        <div class="card-img-top center-cropped">
            {% if course.course_photo %}
                <img src="{{ course.course_photo.url }}" alt="No image providen.">
            {% else %}
                <img src="{% static 'Courser/images/default.png' %}" alt="No image providen.">
            {% endif %}
        </div>
        <div class="card-body">
            <h4 class="card-title">{{ course.course_name|truncatechars:55 }}</h4>
            <h5 class="card-subtitle mb-2 text-muted">Author: {{ course.course_author }}</h5>
            <h5 class="card-subtitle mb-2 text-muted">Level: {{ course.course_level }}</h5>
            <h2 class="card-text float-right text-primary">{{ course.course_price }} zł</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="mx-auto mt-4 mb-2 col-md-11"><h2 class="ml-2">Category {{ lastCoursesInCategoryCategoryName }}:</h2></div>
<hr class="col-md-11 mx-auto hr-styling">
<div class="card-deck mx-auto col-md-11">
    {% for course in lastCoursesInCategory %}
    <div class="card mx-2 cardDiv" onclick="location.href='{% url 'course' course.id %}';">
        <div class="card-img-top center-cropped">
            {% if course.course_photo %}
                <img src="{{ course.course_photo.url }}" alt="No image providen.">
            {% else %}
                <img src="{% static 'Courser/images/default.png' %}" alt="No image providen.">
            {% endif %}
        </div>
        <div class="card-body">
            <h4 class="card-title">{{ course.course_name|truncatechars:55 }}</h4>
            <h5 class="card-subtitle mb-2 text-muted">Author: {{ course.course_author }}</h5>
            <h5 class="card-subtitle mb-2 text-muted">Level: {{ course.course_level }}</h5>
            <h2 class="card-text float-right text-primary">{{ course.course_price }} zł</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="mx-auto mt-4 mb-2 col-md-11"><h2 class="ml-2">Popular categories:</h2></div>
<hr class="col-md-11 mx-auto hr-styling">
<div class="card-deck mx-auto col-md-8 mb-4">
    {% for category in lastCategories %}
    <div class="card mx-2 cardDiv" onclick="location.href='{% url 'coursesByCategory' category.id %}';">
        <div class="card-body">
            <h5 class="card-title"><i class="far fa-dot-circle"></i>{{ category.category_name }}</h5>
        </div>
    </div>
    {% endfor %}
</div>
<br><br><br>
{% endblock %}