{% extends 'base.html' %}

{% block title %}My cart{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="w-100 text-center text-danger h6 list-unstyled">
            {% for message in messages %}
                <li class="{{ message.tags }}"><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="w-75 mx-auto">
        {% if object_list %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="col-1"><strong>No.</strong></th>
                        <th scope="col" class="col-8"><strong>Title</strong></th>
                        <th scope="col" class="col-2"><strong>Price</strong></th>
                        <th scope="col" class="col-1"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in object_list %}
                        <tr class="clickable" data-href="{% url 'course' course.course_id %}">
                            <th scope="row">{{ forloop.counter }}</th>
                            <td style="word-wrap: break-word;">{{ course.course_name }}</td>
                            <td class="text-right">{{ course.course_price }} zł</td>
                            <td class="text-right"><a href="{% url 'deleteCourse' course.id %}" class="deleteBtn small text-danger"><strong>Delete</strong></a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th></th>
                        <td></td>
                        <td class="text-right"><strong>Total price:</strong>{{ total_price }} zł</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        <a href="{% url 'payment' %}" class="btn btn-success float-right">Proceed to payment</a>
        {% else %}
            <p class="mt-4">There are no courses in cart.</p>
        {% endif %}
    </div>

    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".clickable").click(function() {
            window.location = $(this).data("href");
        });
    });
    </script>

{% endblock %}
