{% extends 'base.html' %}

{% block title %}Password change{% endblock %}

{% block content %}
<div class="w-50 mx-auto">
  <div class="row mb-4">
    <h3 class="page-header mx-auto">
      Password change
    </h3>
  </div>
  <div class="container">
    <form method="post" id="passwordChangeForm" class="form-horizontal">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
        <div class="row">
          <div class="col-sm-2 my-auto">
            {{ field.label_tag }}
            {{ field.errors }}
          </div>
          <div class="col-sm-10">
              {{ field }}
          </div>
        </div>
        <br>
      {% endfor %}
    </form>
  </div>
  <div class="row float-right">
    <button type="submit" class="btn btn-success" form="passwordChangeForm">Change password</button>
  </div>
</div>
{% endblock %}