{% extends 'base.html' %}

{% block title %}Password reset done{% endblock %}

{% block content %}

<script type="text/javascript">
    $(window).on('load',function(){
        $('#passwordResetDoneModal').modal('show');
    });
</script>

<div class="modal fade" id="passwordResetDoneModal" tabindex="-1" role="dialog" aria-labelledby="passwordResetDoneModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordResetDoneModalLabel">Password reset done</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
          </p>
          <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('#passwordResetDoneModal').on('hidden.bs.modal', function (e) {
        location.href="{% url 'home' %}"
    });
</script>

{% endblock %}