{% extends 'base.html' %}

{% block title %}Password reset confirm{% endblock %}

{% block content %}

<script type="text/javascript">
    $(window).on('load',function(){
        $('#passwordResetConfirmModal').modal('show');
    });
</script>

<div class="modal fade" id="passwordResetConfirmModal" tabindex="-1" role="dialog" aria-labelledby="passwordResetConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordResetConfirmModalLabel">Password reset confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if validlink %}
          <form method="post" id="passwordResetForm">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="field-wrapper">
              {{ form.new_password1.errors }}
              <label>Password: </label>
              {{ form.new_password1 }}
            </div>
            <br>
            <div class="field-wrapper">
              {{ form.new_password2.errors }}
              <label>Confirm password: </label>
              {{ form.new_password2 }}
            </div>
          </form>
        {% else %}
          <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
          </p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {% if validlink %}
          <button type="submit" class="btn btn-success" form="passwordResetForm">Change password</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('#passwordResetConfirmModal').on('hidden.bs.modal', function (e) {
        location.href="{% url 'home' %}"
    });
</script>

{% endblock %}