{% extends 'base.html' %}

{% block title %}Password reset{% endblock %}

{% block content %}

<script type="text/javascript">
    $(window).on('load',function(){
        $('#passwordResetModal').modal('show');
    });
</script>

<div class="modal fade" id="passwordResetModal" tabindex="-1" role="dialog" aria-labelledby="passwordResetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordResetModalLabel">Password reset</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" id="passwordResetForm">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <label>Insert e-mail address connected to your account.</label>
          <div class="field-wrapper">
            <label>E-mail: </label>
            {{ form.email }}
            {{ form.email.errors }}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" form="passwordResetForm">Send mail</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('#passwordResetModal').on('hidden.bs.modal', function (e) {
        location.href="{% url 'home' %}"
    });
</script>

{% endblock %}