html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.cardDiv {
    color: black;
}

.cardDiv:hover {
    filter: invert(3%);
    cursor: pointer;
}

.clickable:hover {
    cursor: pointer;
}

.deleteBtn {
    display: none;
}

.clickable:hover .deleteBtn {
    display: inline-block;
}

div.center-cropped {
  height: 100px;
  overflow:hidden;
}

div.center-cropped img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

*{
    font-family: 'Open Sans';
    font-style: normal;
    font-display: fallback;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OX-hpKKSTj5PW.woff2) format('woff2'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXOhv.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #8c8c8c;
}

.btn-file input {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.home-image {
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,1)), url('../images/homephoto.jpg');
    background-position: 80% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
    text-shadow: white 0px 0px 10px;
}

.btn-join {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

hr.hr-styling {
    border: 0;
    height: 5px;
    background: #428bca;
}

.error {
    color: red;
}